.planwork
	.field
		= f.label :details
		= f.select :details, all_workouts
	%br
	.field
		= f.label :duration_of_workout
		= f.text_field :duration_of_workout
	.field.swim-optional
		= f.label :run_workout_type, "Swim Type"
		= f.select :run_workout_type, ["Back Stroke", "Breast Stroke", "Butterfly", "Free Stroke", "Side Stroke", "Mixed"]
	.field.bike-optional
		= f.label :run_workout_type, "Bike Type"
		= f.select :run_workout_type, ["Easy", "Hill", "Interval", "Long", "Tempo", "Race", "Fartlek"]
	.field.run-optional
		= f.label :run_workout_type, "Run Type"
		= f.select :run_workout_type, ["Easy", "Hill", "Interval", "Long", "Tempo", "Race", "Fartlek"]
	.field.weight-optional
		= f.label :weight_details, "Weight Type"
		= f.select :weight_details, ["Bench", "Squat", "Dead Lift", "Upright Row", "Lat pulldowns"]
= f.fields_for :workout_sets do |f|
	.fields
		.field
			= f.label :reps
			= f.number_field :reps
		.field
			= f.label :weight
			= f.number_field :weight
.field
	= link_to_add_fields "+", f, :workout_sets