= form_for @plan do |f|
	.small-8.columns
		.planwork
			%h1 New Plan
			=f.label :name, "Plan Name"
			=f.text_field :name
			%br
			= f.label :days_performed
			= f.text_field :days_performed
			%br
			= f.file_field :photo
			= f.label :remote_image_url, "or image URL"					
			=f.submit
	#calendar