Date:

%h1 Add Your Stats
.large-10.columns
  = form_for @stat, :html => {:multipart => true} do |f|
    - if @stat.errors.any?
      #error_explanation
        %h2
          = pluralize(@workout.errors.count, "error")
          prohibited this workout from being saved:
        %ul
          - @workout.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :created_at
      = f.text_field :created_at
    .field
      = f.label :weight
      %br/
      = f.number_field :weight
    .field
      = f.label :height
      %br/
      = f.text_field :height
    .field
      = f.label :gender
      %br/
      = f.text_field :gender, collection:  'male'
      %br/
       
    .actions
      = f.submit
    = link_to 'Back', workouts_path
  